
@charset "utf-8";



.cssShortcut {
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid red;
    margin: 50px;
    float: left;
}

.ctest {
    margin: 70px;

}
